@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Rubik+Gemstones&display=swap');

*{
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}

body{
  background-color: #E3E0DE;
}

header p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header{
    display: block;
}


.beat-app{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

header h1{
    font-family: 'Rubik Gemstones', cursive;
    margin:50px 0px 8px 0px ;
    text-align: center;
    font-size: 40px;
    font-weight: 8;
}

#pads {
    // min-height: 100vh;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    // display: flex;
  }

#pads > div {
    border: .1rem solid black;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    // background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    box-shadow:  0px 1px 14px black;
   
  }

#pad1{
    background-color:#1eda4d ;

}

#pad2{
    background-color: #FF5C33;
}

#pad3{
    background-color:gold;
}

#pad4{
    background-color:aqua;
}

#pad5{
    background-color: #21003D;
}
#pad6{
    background-color: #D7098F;
}

#pad7{
    background-color:wheat ;
}
#pad8{
    background-color:brown;
}


#pad9{
    background-color:#91f0a9 ;

}


.visual > div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(.8);
    z-index: -1;
  }
  
  @keyframes jump {
    0% {
      top: 0%;
      left: 50%;
    }
    50% {
      top: 100%;
      left: 50%;
    }
  
    100% {
      bottom: 00%;
      left: 50%;
    }

}

i{
    font-size: 30px;
    cursor: pointer;
    position:absolute;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}


.playing {
  transform: scale(1.2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: black;
}


@media only screen and (min-width: 576px) {

    header p{
        font-size: 25px;
    }

    header h1{
        font-size: 60px;
        font-weight: 12;
    }

    #pads{
        grid-gap: 5px;
    }

    #pads > div{
        height: 200px;
        border-radius: 5px;
        box-shadow:  0px 1px 14px;
    }

    i{
        font-size: 50px;
        margin-top: 20px;
    }
}